/* VARIABLES */
:root {
    --primary-color: #F8990C;
    --secondary-color: #0be662;
    --complmentary-color: #35e7f4;
    --blue: #33a9ff;
    --black: #343232;
    --black-secondary: #0a111b;
    --black-tertiary: #16242d;
    --white: #F3EDED;
    --white-secondary: #f5f5f6;
    --font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* UTILIDADES */
/* * {

} */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    border: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 80rem;
    margin: 0 auto 0 auto;
    /* background-color: var(--white); */
}

/* START */
body {
    /* 1rem = 10px */
    /* background: rgb(131, 58, 180);
    background: -moz-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#fcb045", GradientType=1); */
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--black-secondary);
    display: grid;
    grid-template-areas:
        "Nav"
        "Header"
        "Main"
        "Footer";
}

/* HEADER */
header {
    min-height: 100vh;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/img/fondo2.jpg);
    background-position: center;
    background-size: cover;
    position: relative; */
}

/* Nav */
.nav-container {
    /* background-color: rgba(249, 71, 58, 0.3); */
    /* background-color: var(--primary-color); */
    background-color: var(--black-secondary);
    grid-area: Nav;
}

nav {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 100%;
    height: 3rem;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: .5rem;
    position: relative;
}

.nav-links ul li a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--white);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fas {
    display: none;
}

/* Redes */
.redes {
    background: var(--black-tertiary);
    background: rgba(23, 36, 53, 0.5);
    padding: 1rem;
    text-align: center;
}

span>.fa-facebook,
a {
    color: var(--white);
}

/* Banner */
.banner {
    /* background-color: var(--white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    padding: 1rem;
    grid-area: Header;
}

/* .banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
} */

.banner-text>h1 {
    color: var(--blue);
    /* color: var(--secondary-color); */
    font-size: 3.5rem;
}

.banner-text>P {
    margin: 10px 0 40px;
    font-size: 1.8rem;
    color: var(--white-secondary);
}

.banner-text>a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    margin-top: 1rem;
    padding: 1rem 3rem;
    padding: 1.5rem;
    display: inline-block;
    border: 1px solid var(--white);
    border-radius: .8rem;
    /* font-size: 1.3rem; */
    background: var(--blue);
    position: relative;
    cursor: pointer;
}

.fa-arrow-right {
    margin-left: .3rem;
}

.banner-text>a:hover {
    border: 1px solid var(--blue);
    background: transparent;
    transition: 1s;
}

/* MAIN */
main {
    grid-area: Main;
    margin-bottom: 6rem;
}

.main-container {
    margin-top: 10rem;
    /* height: 50rem; */
    /* border-radius: .8rem; */
    /* padding: 1rem; */
    /* background-color: var(--complmentary-color); */
}

/* Preferido */
.preferido-tittle {
    text-align: center;
    font-size: 2rem;
    color: var(--white-secondary);
}

.preferidos {
    /* display: grid;    
    grid-template-columns: repeat(2, 1fr); */
    /* background: var(--white); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.preferido-container {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    background: var(--black-tertiary);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.preferido-img {
    border-radius: 1rem;
}

.preferido-img:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.preferido-img>img {
    height: 20rem;
}

.preferido-text {
    margin-left: 1rem;
    color: var(--white-secondary);
}

.preferido-text_tittle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.preferido-text_descripcion {
    text-align: left;
    margin-top: 2rem;
    line-height: 1.5rem;
}

.preferido-text_tallas {
    text-align: left;
    margin-top: 1rem;
}

.preferido-text_precio {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.stars {
    float: left;
    display: flex;
    margin-top: 1rem;
}

.preferido-text_btnContainer {
    margin-top: 5rem;
    /* margin-left: 4.5rem; */
}

.preferido-text_btn {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
    padding: 1rem;
    border-radius: .8rem;
    background: var(--blue);
    width: 2rem;
}

footer {
    margin-top: 10rem;
    grid-area: Footer;
    text-align: center;
    font-size: 1.5rem;
    color: var(--white-secondary);
    background: var(--black-tertiary);
    width: 100%;
    height: 5rem;
    padding: 1rem;
    /* bottom: 0; */
}

/* Help */
.help {
    color: var(--white-secondary);
    background: var(--black-tertiary);
    text-align: center;
    padding: 1rem;
    /* height: 100vh; */
}

.help-tittle {
    font-size: 2rem;
}

.help-contaier {
    display: flex;
    justify-content: space-between;
    flex-basis: 1rem;
}

.help-text {
    color: var(--black-secondary);
    background: var(--white-secondary);
    text-align: left;
    font-size: 1.5rem;
    width: 50%;
}

.help-img {
    width: 50%;
    /* background: var(--secondary-color); */
}

.fa-solid{
    color: var(--white-secondary);
}