/* VARIABLES */
:root {
    --primary-color: #e65100;
    --secondary-color: #0be662;
    --black: #343232;
    --white: #F3EDED;
    --font-family: 'Poppins', sans-serif;
}

/* UTILIDADES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 80rem;
    margin: 0 auto 0 auto;
    /* background-color: var(--white); */
}

/* START */
html {
    font-size: 62.%;
}

body {
    /* 1rem = 10px */
    font-size: 16px;
    font-family: var(--font-family);
    background-color: var(--white);
}

/* HEADER */
header {
    background-color: var(--black);
}

/* Nav */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.logo {
    font-size: 3rem;
    font-weight: 600;
}

.L {
    color: aqua;
}

.nav-principal-container {
    width: 25rem;
    display: flex;

}

.nav-principal-item {
    font-size: 1.2rem;
    margin: auto;
}

.nav-principal-item>a {
    color: var(--white);
}

.nav-principal-item>a:hover {
    padding: .5rem;
    border-radius: .5rem;
    color: var(--black);
    background-color: var(--primary-color);
}